
body {
  font-family:'Courier New', Courier, monospace;
  background-image: url('1.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px; 
}

#loginContainer {
  background-color:white;
  padding: 100px;
  width: 300px;
  height:250px;
  text-align:center;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 2px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.button {
  background-color: #f3f4f5;
  color: #0e0606;
  border: none;
  padding: 15px 20px;
  border-radius: 2px;
  width: 100px;
  cursor: pointer;
}
.signup {
  position: absolute;
  background-color: #f3f4f5;
  color: #0e0606;
  border: none;
  padding: 15px 20px;
  border-radius: 2px;
  width: 100px;
  cursor: pointer;
  top: 525px;
  left: 708px;
}
#signupContainer {
  background-color:white;
  padding: 100px;
  width: 300px;
  height:250px;
  text-align:center;
}

#warningMessage {
  color: red;
  font-size: 14px;
  margin-top: 7px;
  display: none;
}